<div class="container">
    <span>
      <i class="icone material-icons">camera_alt</i> Fotos
    </span>
    <div class="card">
      <mat-card *ngFor="let foto of fotos | async" class="card-content mat-elevation-z4" matSort>
        <img class="image" mat-card-image src="{{ foto.thumbnailUrl }}" alt="foto">
        <mat-card-content>
          <p>
            {{ foto.title }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 50, 100, 500]"></mat-paginator>
</div>